body {
  background-image: url(../images/pexels-ella-olsson-572949-1640774.jpg);
  background-size: cover;
}

.content-container {
  background-color: #a6e4e7;
  border-radius: 20px;
  margin: 100px auto;
  max-width: 600px;
  padding: 50px;
  text-align: center;
}

h1 {
  font-family: "Oswald", serif;
  font-size: 60px;
}

h2 {
  font-family: "Noto Serif", serif;
  font-size: 35px;
}

form input {
  border-radius: 30px;
  font-family: "Noto Serif", serif;
  font-size: 25px;
  padding: 10px 20px;
}

.ingredients-input {
  margin-right: 10px;
}

.generate-button:hover {
  background-color: lemonchiffon;
  cursor: pointer;
}

form {
  margin-bottom: 50px;
}

.recipe {
  background-color: #efefef;
  border-left: 5px solid grey;
  font-family: "Noto Serif", serif;
  font-size: 25px;
  padding: 10px;
}

footer {
  font-family: "Noto Serif", serif;
  font-size: 20px;
  margin-top: 50px;
}
